{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts/style.css' %}">


  <title>Warehouse | Register</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">Warehouse</a>
        </div> 
    </nav>

{% include 'partials/_alerts.html' %} 
  <div class="login-page">
    <div class="form">
        <form class="register-form" action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <input name="first_name" type="text" placeholder="first name" required/>
            <input name="last_name" type="text" placeholder="last name" required/>
            <input name="username" type="text" placeholder="username" required/>
            <input name="password" type="password" placeholder="password" required/>
            <input name="password2" type="password" placeholder="password confirm" required/>
            <input name="email" type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
        </form>
    </div>
  </div>

  <script src="{% static 'js/login.js' %}"></script>
  <script src="{% static 'js/alerts.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
</body>
</html>